body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f8fff1;
    color: #000000;
    transition: background-color 0.3s ease, color 0.3s ease; 
}

.a {
    width: 350px;
    margin-top: 28px;
    margin-left: 5px;
}

.first-inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    max-width: 1280px;
}

.b {
    display: flex;
    list-style: none;
}

.c {
    padding-left: 20px;
    padding-right: 50px;
    font-size: 20px;
    font-weight: 550;
    color: #14c346;
    font-family: 'Poppins', sans-serif;
}

.mode-toggle {
    position: absolute;
    right: 20px;
    top: 5px;
    padding: 8px 12px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    font-weight: bold;
}

/* Remove button background and border */
.mode-toggle {
    background: transparent !important;
    border: none;
    padding: 0;
    cursor: pointer;
}

/* Make sure the button doesn't take extra space */
.mode-toggle:focus {
    outline: none;
}

/* Style the icon */
#modeIcon {
    font-size: 36px; 
    width: 50px;   
    text-align: center;
    color: #333;
}

body.dark #modeIcon {
    color: #f5f5f5;
}

/* Dark Mode Styles */
body.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

body.dark-mode .mode-toggle {
    background-color: #ddd;
    color: #000;
}

body.dark-mode .fifth h1,
body.dark-mode .fifth h2,
body.dark-mode .fifth .t,
body.dark-mode .fifth .r,
body.dark-mode .seventh .v,
body.dark-mode .eighth p,
body.dark-mode .eighth .ei-in,
body.dark-mode .form-body div,
body.dark-mode .team-card .title,
body.dark-mode .team-card .degree,
body.dark-mode .team-card .team-content {
    color: black;
}

body.dark-mode.fifth p,
body.dark-mode.fifth q,
body.dark-mode .seventh h2{
    color: white;
}


@media screen and (max-width: 480px) {
    .b {
        padding-left: 50px;
        width: 270px;
        margin-left: 0px;
    }

    .c {
        padding-left: 0px;
        margin-left: 10px;
    }

    .a {
        width: 180px;
    }

    .first-inner {
        flex-direction: column;
        gap: 20px;
    }

    /* .mode-toggle{
        position: absolute;
        right: 20px;
        top: 20px;
        padding: 8px 12px;
        border: none;
        background-color: #333;
        color: white;
        cursor: pointer;
        border-radius: 4px;
        font-weight: bold;

    } */
}


/* header */


.d {
    background-color: #3c004a;
}

.d1 {
    display: flex;
    width: 90%;
    margin: auto;
    max-width: 1440px;
    padding-top: 30px;
    padding-bottom: 25px;
}

.dp1 {
    width: 79%;
    padding-left: 10px;
}

.dp2 {
    color: white;
    font-size: 20px;
    font-family: raleway;
    line-height: 30px;
}

.down {
    margin-right: 20px;
    border-radius: 10px;
    margin-top: 15px;
    width: 180px;
    height: 37px;
    font-weight: 530;
    font-size: 15px;
    font-family: raleway;
}

@media screen and (max-width: 480px) {
    .d {
        width: 100%;
        margin: 0px;
        max-width: 1440px;
        padding-bottom: 5px;
    }

    .d1 {
        display: block;
        padding-top: 5px;
    }

    .dp2 {
        line-height: 30px;
    }
}

@media screen and (min-width: 481px) and (max-width: 1024px) {
    .d {
        padding-bottom: 5px;
    }

    .d1 {
        display: block;
    }

    .dp1 {
        width: 71%;
    }

    .d1 {
        padding: 5px;
    }

}


/* second */


.second-inner1 {
    margin-top: 50px;
    margin-left: 70px;
    display: flex;
}

.second-inner2 {
    width: 54%;
}

.e {
    color: #14c346;
    font-family: Poppins;
    font-size: 25px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
}

.second-inner2 h1 {
    color: #14c346;
    font-size: 64px;
    font-weight: 700;
    margin-bottom: 10px;
    font-family: Poppins;
    line-height: 70px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 2rem;
    margin-top: 15px;
}

.e1 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    font-size: 20px;
    margin-bottom: 2rem;
    letter-spacing: 0.2px;
}

.second-img {
    width: 45%;
}

.f {
    max-width: 100%;
    margin-right: 0px;
    margin-top: 32px;
}

.get {
    background-color: #14c346;
    color: white;
    border-radius: 5px;
    width: 180px;
    height: 35px;
    border: #14c346;
    font-size: 18px;
    margin-top: 15px;
}

@media screen and (max-width: 480px) {
    .second-inner1 {
        display: block;
        margin-left: 30px;
    }

    .second-inner2 h1 {
        font-size: 45px;
        line-height: 55px;
    }

    .second-inner2 {
        width: 90%;
    }

    .second-img {
        width: 85%;
    }
}

@media screen and (min-width: 481px) and (max-width: 1024px) {
    .second-inner1 {
        flex-direction: column;
    }

    .second-inner2 h1 {
        font-size: 55px;
        line-height: 65px;
    }

    .second-inner2 {
        width: 95%;
    }

    .second-img {
        width: 95%;
    }

}


/* third */

.third {
    text-align: center;
    width: 90%;
    margin: auto;
    max-width: 1440px;
    padding-bottom: 160px;
}

.third-inner1 {
    width: 65%;
    margin: auto;
    padding-bottom: 160px;
    padding-top: 120px;
}

.g {
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    color: #25c14d;
    font-family: Poppins;
}

.h {
    font-family: Raleway;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    padding-bottom: 5px;
}

.third-inner2 {
    display: flex;
    margin-top: -130px;
    justify-content: center;
}

.i {
    width: 40px;
    height: 40px;
    background: #FFCC33;
    box-shadow: 0px 100px 196px rgba(0, 0, 0, 0.09), 0px 5.74902px 59.0883px rgba(0, 0, 0, 0.0516608), 0px -0.51024px 24.5422px rgba(0, 0, 0, 0.0416639), 0px -0.972825px 8.87645px rgba(0, 0, 0, 0.0275002);
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 10px;
}

.j {
    font-family: Raleway;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
}

.k {
    width: 140px;
    padding: 0 6px;
}

@media screen and (max-width: 480px) {
    .third-inner1 {
        width: 90%;
    }

    .third-inner2 {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

}

@media screen and (min-width: 481px)and (max-width: 1024px) {
    .third-inner1 {
        margin: 0 auto;
        width: 95%;
    }
}


/* fourth */


.m {
    font-family: Poppins;
    font-size: 33px;
    font-weight: 500;
    text-align: center;
    color: #25c14d;
}

.fourth {
    padding-bottom: 150px;
    margin: auto;
    width: 65%;
}

.fourth-inner {
    display: flex;
    gap: 50px;
    padding-top: 40px;
    justify-content: center;
}

.o {
    background: white;
    box-shadow: 5px 10px 55px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.n {
    width: 70%;
    padding: 25px 20px;
    height: 90px;
    object-fit: contain;
}

@media screen and (max-width: 480px) {
    .fourth-inner {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .fourth {
        width: 90%;
    }

    .o {
        width: 230px;
        height: 110px;
    }

    .n {
        width: 90px;
    }

}

@media screen and (min-width: 481px) and (max-width: 1024px) {
    .fourth {
        width: 90%;
        margin: 0 auto;
    }

    .m {
        font-size: 30px;
    }

    .o {
        width: 120px;
        height: 100px;
    }

    .n {
        width: 70px;
    }

}


/* fifth */


.fifth {
    width: 69%;
    margin: auto;
}

.p {
    font-family: Poppins;
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    color: #25c14d;
    margin-bottom: 2px;
}

.q {
    font-family: Raleway;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    line-height: 30px;
    padding-bottom: 40px;
}

.fifth-inner {
    gap: 60px;
    display: flex;
    padding-bottom: 200px;
}

.fifth-inner1 {
    background: #FFFFFF;
    box-shadow: 5px 10px 55px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.finner {
    text-align: center;
}

.s {
    width: 165px;
    height: 210px;
    background: #FFCC33;
    box-shadow: 0px 100px 196px rgb(0 0 0 / 9%), 0px 5.74902px 59.0883px rgb(0 0 0 / 5%), 0px -0.51024px 24.5422px rgb(0 0 0 / 4%), 0px -0.972825px 8.87645px rgb(0 0 0 / 3%);
    border-radius: 10px 10px 0px 0px;
    padding: 40px;
    object-fit: contain;
}

.fifthhead {
    background-color: #ffffff;
    margin-top: -20px;
    width: 245px;
    /* height: 540px; */
    border-radius: 10px;
}

.t {
    font-family: Raleway;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: center;
    padding-top: 20px;
}

.r {
    font-family: Raleway;
    font-size: 17px;
    font-weight: 500;
    line-height: 27px;
    text-align: center;
    padding: 0 15px 10px;
}

@media screen and (max-width: 480px) {
    .fifth {
        width: 82%;
    }

    .fifth-inner {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }

    .s {
        width: 169px;
    }

}

@media screen and (min-width: 481px) and (max-width: 1024px) {
    .fifth {
        width: 84%;
    }

    .fifth-inner {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        gap: 18px;
    }

    .fifthhead {
        width: 302px;
    }

    .s {
        width: 230px;
    }

}


/* seventh */


.seventh {
    padding-bottom: 250px;
}

.seventhbody {
    width: 90%;
    margin: auto;
    max-width: 1440px;
}

.seventhbody1 {
    display: flex;
}

.seventh-inner1 {
    flex: 0 0 auto;
    width: 35%;
    position: relative;
    left: 55px;
}

.seventh-inner1 h2 {
    font-family: Poppins;
    font-size: 64px;
    font-weight: 700;
    text-align: left;
    color: #25c14d;
    margin: 0;
    padding: 40px;
    line-height: 100px;
}

.seventh-inner2 {
    flex: 0 0 auto;
    width: 480px;
    left: 165px;
    position: relative;
}

.se-in {
    display: flex;
    background: #FFFFFF;
    box-shadow: 0px 4px 55px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    margin-bottom: 30px;
    padding: 25px 40px;
}

.u {
    width: 40px;
    height: 40px;
    background: #FFCC33;
    box-shadow: 0px 100px 196px rgb(0 0 0 / 9%), 0px 5.74902px 59.0883px rgb(0 0 0 / 5%), 0px -0.51024px 24.5422px rgb(0 0 0 / 4%), 0px -0.972825px 8.87645px rgb(0 0 0 / 3%);
    border-radius: 20px;
    padding: 20px;
}

.v {
    font-family: Raleway;
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    padding: 0 38px;
}

@media screen and (max-width: 480px) {
    .seventhbody {
        width: 100%;
    }

    .seventhbody1 {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .seventh-inner1 h2 {
        font-size: 45px;
        line-height: 55px;
        padding: 0;
        padding-bottom: 40px;
    }

    .seventh-inner1 {
        position: relative;
        left: 0px;
        width: 90%;
    }

    .se-in {
        width: 180px;
        height: 220px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .seventh-inner2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        left: 0px;
        position: relative;
        width: 0px;
    }

    .v {
        padding: 0 0px;
        text-align: center;
    }

}

@media screen and (min-width: 481px) and (max-width: 1024px) {
    .seventhbody1 {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .seventhbody {
        width: 100%;
    }

    .seventh-inner1 {
        position: relative;
        left: 0px;
        width: 69%;
    }

    .seventh-inner2 {
        left: 0px;
        position: relative;
        width: 100%;
        max-width: 550px;
    }

    .se-in {
        width: 480px;
        height: 75px;
    }

    .v {
        margin-top: 10px;
    }

    .seventh-inner1 h2 {
        padding: 0;
        padding-bottom: 40px;
        font-size: 54px;
        line-height: 1.4;
    }

    .seventh-inner1 br {
        display: none;
    }

    .blocker {
        display: block !important;
    }


}


/* eighth */


.eighth {
    background-color: white;
    text-align: center;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.58);
    border-radius: 16px;
    margin-bottom: 50px;
    width: 75%;
    margin: auto;
    max-width: 1440px;
    padding: 0 12px;
}

.ei-in {
    padding-top: 50px;
    font-family: Poppins;
    font-size: 30px;
    font-weight: 500;
    color: #25c14d;
}

.eighth-inner {
    padding: 53px;
    width: 43%;
    height: auto;
    margin: 0 auto;
}

.card-wr {
    font-family: Poppins;
    font-size: 16px;
    line-height: 2;
}

.fa-quote-left {
    font-size: 7px;
    color: #14c346;
    position: relative;
    bottom: 5px;

}

.card-profile {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.card-image {
    width: 68px;
    height: 68px;
    border-radius: 50%;
}

.card-wr2 {
    font-weight: 400;
    font-size: 18px;
}

@media screen and (max-width: 480px) {
    .eighth-inner {
        width: 56%;
    }

    .card-wr {
        position: relative;
        left: 0px;
    }

    .card-profile {
        position: relative;
        left: 0px;
        flex-direction: column;
        flex-wrap: wrap;

    }

}

@media screen and (min-width: 481px) and (max-width: 1024px) {
    .card-profile {
        position: relative;
        left: 0px;
        flex-direction: column;
        flex-wrap: wrap;

    }

    .eighth-inner {
        width: 31%;
    }
}


/* team */


.team-card {
    padding-top: 150px;
}

.te-ca {
    font-family: Poppins;
    font-size: 32px;
    font-weight: 500;
    text-align: center;
    color: #25c14d;
    padding-bottom: 40px;
}

.team-profile {
    display: flex;
    padding-bottom: 130px;
    justify-content: center;
    gap: 20px;
}

.card-img {
    max-width: 300px;
    width: 100%;
    border-radius: 10px 10px 0px 0px;
    margin-bottom: -5px;
    height: 235px;
}

.w {
    width: 300px;
    height: auto;
}

.w1 {
    width: 300px;
    height: 265px;
}

.team {
    max-width: 300px;
    width: 100%;
    height: 750px;
    padding: 55px 0px;
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 0px 0px 10px 10px;
    background-color: white;
}

.title {
    font-size: 23px;
    font-weight: bold;
    padding-top: 40px;
}

.degree {
    font-size: 22px;
    margin-top: 5px;
}

.team-content {
    margin-top: 0px;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 22px;
    line-height: 1.5;
}

.social {
    width: 55px;
    height: 55px;
    padding-top: 80px;
}

@media screen and (max-width: 480px) {
    .team-profile {
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

}

@media screen and (min-width: 481px) and (max-width: 1024px) {
    .team-profile {
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }


}


/* ninth */



.ninth {
    padding-bottom: 150px;
    width: 88%;
}

.ninth-inner {
    padding-bottom: 53px;
    display: flex;
    gap: 50px;
}

.ninth-img {
    width: 50%;
}

.x {
    max-width: 110%;
    height: auto;
    padding-left: 60px;
}

.ninth-body {
    max-width: 50%;
    position: relative;
    left: 50px;
}

.ni-he {
    font-family: Poppins;
    font-size: 30px;
    font-weight: 500;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: left;
    color: #25c14d;
    padding: 10px;
}

.ni-bo {
    font-family: Raleway;
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    text-align: left;
}

.ninth-text {
    font-size: 20px;
    padding-top: 10px;
    font-weight: 600;
    font-family: Raleway;
}

@media screen and (max-width: 480px) {
    .ninth {
        width: 100%;
    }

    .ninth-inner {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .ninth-img {
        width: 75%;
        position: relative;
        right: 15px;
    }

    .ninth-body {
        max-width: 83%;
        position: relative;
        left: 0px;
    }

    .x {
        padding-left: 0px;
    }

}

@media screen and (min-width: 481px) and (max-width: 1024px) {
    .ninth-inner {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .ninth {
        width: 100%;
    }

    .ninth-img {
        width: 75%;
        position: relative;
        right: 35px;
    }

    .ninth-body {
        max-width: 85%;
        position: relative;
        left: 0px;
    }

    .x {
        padding-left: 0px;
    }

}


/* form */


.form {
    background: #F8FFF4;
    padding: 60px 0;
}

.form-inner {
    width: 100%;
    margin: auto;
    max-width: 1440px;
}

.fo-he {
    font-family: Poppins;
    font-size: 30px;
    font-weight: 500;
    line-height: 40px;
    text-align: center;
    color: #25c14d;
}

.form-body {
    width: 70%;
    margin: auto;
    padding-top: 50px;
    /* padding-left: 370px; */
}

.form div {
    padding-top: 12px;
}

.form div label {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 185%;
    width: 220px;
    justify-content: right;
    display: inline-flex;
}

.form div input {
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    width: 60%;
    background: transparent;
    outline: none;
}

.form-submit {
    font-family: 'Raleway';
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    width: 120px;
    display: block;
    text-align: center;
    color: white;
    border: none;
    background: #14C346;
    border-radius: 8px;
    margin: auto;
    padding: 8px 20px;
    margin-top: 50px;
}

@media screen and (max-width: 480px) {
    .form-body {
        width: auto;
    }

    .form div label {
        display: block;
    }

    .form div input {
        width: 95%;
    }

    .form-inner {
        width: 85%;
    }

    .form {
        width: 90%;
    }

}

@media screen and (min-width: 481px) and (max-width: 1024px) {
    .form-body {
        width: auto;
    }

    .form {
        width: 100%;
    }

    .form-inner {
        width: 85%;
    }
}


/* last */


.last {
    background: #25c14d;
    padding: 15px 0px;
    margin-top: 12px;
}

.last-inner {
    width: 90%;
    margin: auto;
    max-width: 1440px;
}

.inner1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    align-items: center;
}

.y {
    display: inline-block;
    margin-bottom: 0px;
    width: 100%;
    max-width: 220px;
}

.res {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 20px;
    margin-top: 50px;
}

.res-in {
    text-decoration: none;
    padding-left: 0px;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 20px;
    margin-top: -18px;
}

.pri {
    color: white;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 20px;
}

@media screen and (max-width: 480px) {
    .inner1 {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .resource {
        text-align: center;
    }
}

@media screen and (min-width: 481px) and (max-width: 1024px) {}

